__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
.ipynb_checkpoints/
.DS_Store
*.slurm
*.err
*.out
*.log
*.sh
data/HCM_filtered-100.json
data/HCM_filtered_parsed-20.json
data/HealthCareMagic-100k.json
results/